html{
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    color: #747474;
}


/*header*/
header {
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color:#fbfdfe;
  }
.lead-logo{
    width: 35px;
    height: 35px;
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.main-menu{
    list-style: none;
    display: flex;
    align-items: center;
     margin: 0;
    padding: 0;
}
.main-menu .dropdown{
    list-style: none;
    display: flex;
    align-items: center;
     margin: 0;
    padding: 0;
}
.dropdown .dropdown-content{
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    top: 50px;
    right: 5px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: -20;

}
.main-menu ul li ul li{
    display: block;
}
.main-menu ul li ul li a{
    display: block !important;
}
.main-menu ul li ul li:hover{
    cursor: pointer
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    color: #00b39b;
    cursor: pointer
}
.dropdown .dropdown-content:hover{
    display: block;
}

/* ul a:hover{
    display: block;
    cursor: pointer;
} */

.dropdown-content ul{
    list-style-type: none;
    padding-left: 15px;
    line-height: 200%;
    color: #00b39b;
    cursor: pointer
}

.main-menu{
    width: 254px;
    height: 30px;
    padding: 20px 0px;
    justify-content:space-between ;
    align-items: center;
}
.main-menu span{
  padding: 0px 9px;
}
.dropdown a:hover{
    color: #00b39b;
    cursor: pointer;
}

.main-menu span{
    color: #00b39b;
    cursor: pointer;

}
.main-menu a{
    color: #747474;
    text-decoration: none;
}
.main-menu a:hover{
    color: #00b39b;
    cursor: pointer;
}

.lead-section-inner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 20px;
    flex-direction: column;
    max-width: 1015px;
    
}
.lead-section-inner .lead-logo{
    margin: auto;
    width: auto;
}
.lead-section-inner .title{
    text-align: center;
}
h1{
    font-size: 2.125rem;
    color: #00b39b;
    font-weight:normal
}
.grid {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 185.5px;
    margin: 0px 10px;
}
.grid .col-2{
    max-width: 497.5px;
    height: 156.6px;
    padding: 10px;
    line-height: 1.6;
}
/* section2 */
.services-section-inner {
    zoom: 1;
    max-width: 1015px ;
    padding: 0 20px;
    margin: auto ;
    position: relative;
    align-items: center;
}
.services-section-inner .grid-fade-elements{
    width: 970px;
    height: 412px;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: static;
}
.grid-fade-elements .col-1 .col-2{
    width: 425px;
    height: 392px;
    padding: 10px;
    display: static;
}
/* section2-leftside */
.col-1 .services-item--marketplace{
    width: 400px;
    height: 370px;
    padding: 22px 40px 0px 40px;
}
.services-item--marketplace h2{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}

.grid-fade-elements .col-1{
    background-color: #64ccb2;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    background-clip: content-box;
    background-repeat: inherit;
    display: static;
}
.services-item--marketplace h1{
    color: white;
    font-size: 170%;
    height: 99px;
    margin-top: 8px;
    display: static;
}
.services-item--marketplace .btn-box{
    height: 40px;
}
.style-select{
    width: 175px;
    height: 40px;
    color: #333;
    background: #fff;
    text-align: center;
    text-decoration: none!important;
    transition: all .2s ease 0s;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
}
.style-select .domain-switcher{
    padding: 0px 42px 0px 18px;
    border: none;
    width: 175px;
    height: 40px;
    text-decoration: solid;
    text-transform: uppercase;
    font-size: 60%;
    border-radius: 10px;
    min-height: 1.2em;
}
.services-item--marketplace{
    position: relative;
    overflow-x:hidden;
    overflow-y: unset;
}
.services-item--marketplace figure{
    width: 345px;
    height: 215px;
    margin: 0px 0px 0px 138px;
}
.services-item--marketplace img{
    width: 345px;
    height: 215px;
    position: absolute;
    bottom: 10px;
    left: 220px;
    overflow-x:hidden;
    overflow-y: unset;
    display: block;
    flex-direction: row;
}
.services-item--marketplace::-webkit-scrollbar {
    display:none;
}
/* section2-Right part */
.grid-fade-elements .col-2{
    background-color: #4383df;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    background-clip: content-box;
    background-repeat: inherit;
}

.services-item--saas{
    width: 382px;
    height: 370px;
    padding: 22px 40px 0px 40px;
}
.services-item--saas h2{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.services-item--saas h1{
    color: white;
    font-size: 170%;
    height: 99px;
    margin-top: 8px;
}
.services-item--saas{
    position: relative;
    overflow-x:hidden;
    overflow-y: unset;
}
.services-item--saas img{
    width: 345px;
    height: 215px;
    position: absolute;
    bottom: 10px;
    left: 220px;
    overflow-x:hidden;
    overflow-y: unset;
    display: block;
    flex-direction: row;
}
/* Section3-Brand section */
.brands-section{
    width: 975px;
    height: 115px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    max-width: 1015px;
    align-content: center;
    margin-top: 50px;
}
.brands-section h1{
    width: 286px;
    height: 99px;
    padding-right: 26px;
    margin: 6.5px 0px 9px 0px;
    font-size: 170%;
    display: static;
}
.brands-section .brands-logos{
    list-style-type: none;
    color: #c4c4c4;
    display: flex;
    flex-wrap: wrap;
    width: 633px;
    height: 90px;
    
}
.brands-logos li{
    width: 168px;
    height: 35px;
    padding: 5px 0px;
}

.brands-logos .path1{
    display:inline-flex;
    width: 168px;
}
.brands-logos .path1 img{
    color:#c4c4c4;
    width: 20px;
    height: 20px;
}
.path1 a{
    font-size: 110%;
    padding-left: 10px;
}
.path1 a:hover{
    color: #00b39b;
    cursor: pointer;
}
/* section4-States */
.stats{
    width: auto;
    height: 560px;
    padding: 30px 0px 10px 0px;
    margin: 0 auto;
    display: flex;
    background-color:#d8f7f6 ;
    overflow: hidden;
    max-width: 1015px;
    align-content: center;
    margin-top: 50px;
}
.section-inner{
    width: 975px;
    height: 560px;
    padding: 0px 20px;
    margin: 0px 7.5px;
}
.stats .grid{
    width: 995px;
    height: 560px;
    position: static;

}

.col-2-stats__header{
    background-color: transparent;
    width: 477.5px;
    height: 181px;
    padding: 10px;
    margin-top: 32px;
    display: static;
}
.col-2-stats__header h1{
    margin: 0px;
    display: static;
}
.col-2-stats__header p{
    width: 415px;
    height: 48px;
    padding: 0px;
    margin: 22.4px 0px;
    display: static;
}
.col-2-stats__header img{
    position: absolute;
    left: -145px;
}
.stats .grid .col-2{
    display: flex;
    width: 497.5px;
    height: 540px;
    padding: 0px;
}
/* boxes left side */
.stats .grid .col-2 .vert-align1{
    width: 230px;
    height: 540px;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: static;
}

.stats .grid .col-2 .vert-align1 .block1{
     background-color: white;
     border-radius: 5px;
     margin-bottom: 20px;
     
}
.stats .grid .col-2 .vert-align1 .block1 .background{
    width: 198.5px;
    height: 220px;
    padding: 20px 15px;
}
.stats .grid .col-2 .vert-align1 .block1 img{
    padding-left: 45%;
}
.stats .grid .col-2 .vert-align1 .block1 h3{
    height: 64px;
    color:#57b49c ;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    margin: 12px 0px;
}
.stats .grid .col-2 .vert-align1 .block1 p{
    font-size: 13px;
    width: 198px;
    height: 64px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}
.stats .grid .col-2 .vert-align1 .block2{
    background-color: white;
     border-radius: 5px;
}
.stats .grid .col-2 .vert-align1 .block2 .background{
    width: 198.5px;
    height: 220px;
    padding: 20px 15px;
}
.stats .grid .col-2 .vert-align1 .block2 img{
    padding-left: 45%;
}
.stats .grid .col-2 .vert-align1 .block2 h3{
    height: 64px;
    color:#57b49c ;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    margin: 12px 0px;
}
.stats .grid .col-2 .vert-align1 .block2 p{
    font-size: 13px;
    width: 198px;
    height: 64px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}
/* boxes right side */
.stats .grid .col-2 .vert-align1{
    width: 230px;
    height: 540px;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: static;
}
.stats .grid .col-2 .vert-align2 .block1{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;    
}
.stats .grid .col-2 .vert-align2 .block1 .background{
   width: 198.5px;
   height: 220px;
   padding: 20px 15px;
}
.stats .grid .col-2 .vert-align2 .block1 img{
   padding-left: 45%;
}
.stats .grid .col-2 .vert-align2 .block1 h3{
   height: 64px;
   color:#57b49c ;
   font-size: 150%;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   font-weight: normal;
   line-height: normal;
   margin: 12px 0px;
}
.stats .grid .col-2 .vert-align2 .block1 p{
   font-size: 13px;
   width: 198px;
   height: 64px;
   padding: 0px;
   margin: 0px;
   text-align: center;
   vertical-align: middle;
}
.stats .grid .col-2 .vert-align2 .block2{
   background-color: white;
    border-radius: 5px;
}
.stats .grid .col-2 .vert-align2 .block2 .background{
   width: 198.5px;
   height: 220px;
   padding: 20px 15px;
}
.stats .grid .col-2 .vert-align2 .block2 img{
   padding-left: 45%;
}
.stats .grid .col-2 .vert-align2 .block2 h3{
   height: 64px;
   color:#57b49c ;
   font-size: 150%;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   font-weight: normal;
   line-height: normal;
   margin: 12px 0px;
}
.stats .grid .col-2 .vert-align2 .block2 p{
   font-size: 13px;
   width: 198px;
   height: 64px;
   padding: 0px;
   margin: 0px;
   text-align: center;
   vertical-align: middle;
}
/* section4-offices*/
.offices-section__inner{
    max-width: 1015px;
    height: 1270.6px;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 80px;
    align-content: center;
}
.offices-section__inner .offices__header{
    width: 460px;
    height: 172.4px;
    margin: 0px 222px 67px 222px;
    position: static;
}
.offices-section__inner .offices__header h1{
    width: 460px;
    height: 78px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 170%;
}
.offices-section__inner .offices__header p{
    width: 460px;
    height: 72px;
    margin: 22.4px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 90%;
    line-height: 160%;
}
/* section4-slides */
.offices-section__inner .offices__slider{
    width: 924px;
    height: 1048.5px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
.offices-section__inner .offices__slider .office{
    width: 288px;
    height: 329.5px;
    padding: 10px;
    
}
.offices-section__inner .offices__slider .office .office__image{
    width: 286px;
    height: 257.5px;
    margin: 0px;
}
.offices-section__inner .offices__slider .office .office__image .img{
    width: 285px;
    border-radius: 5px;
}
.offices-section__inner .offices__slider .office .office__desc{
    width: 246px;
    height: 30px;
    padding: 20px;
    position: relative;
    border: 5px;
    border-radius: 5px;
}
.offices-section__inner .offices__slider .office .office-box{
    width: 285px;
    height: 329.5px;
    border-radius: 5px;
}
.offices-section__inner .offices__slider .office .office-box:hover{
    cursor: pointer;
    box-shadow: 0 15px 15px rgba(168, 168, 168, 0.205), 0 10px 10px rgba(168, 168, 168, 0.205);
}

.offices-section__inner .offices__slider .office .office__desc .btn-btn--small{
    background-color: #4383df;
    color: white;
    width: 80px;
    height: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    right: 20px;
    bottom: 25px;
}
.offices-section__inner .offices__slider .office .office__desc .btn-btn--small:hover{
    background-color: #1662c6;
    cursor: pointer;
}
/* footer */
.main-footer{
    max-width: 1015px;
    height: 88px;
    margin: 0 auto;
    align-content: center;
}
.main-footer .section__inner{
    width: 904px;
    height: 88px;
    padding: 0px 20px;
}
.main-footer .section__inner p{
    height: 15px;
    margin: 19.2px 0px 5px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 75%;
    color: #ababab;
}
.main-footer .section__inner p a{
    color:#5d84e1;
}
.main-footer .section__inner p a:hover{
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .main-header .lead-section-inner .services-section-inner .brands-section .stats .offices-section__inner .main-footer{
        display: inline-block;
    }
}
